body {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  color: #004080;
}

h1 {
  margin-top: 50px;
  color: #008080;
}

input {
  font-size: 15px;
  width: 350px;
  height: 25px;
  border-radius: 5px;
  border: 2px grey solid;
}

button {
  font-size: 15px;
  height: 30px;
  border-radius: 5px;
  border: 2px #008080 solid;
  color: white;
  background-color: #008080;
  cursor: pointer;
}

form {
  margin-bottom: 30px;
}

a {
  color: #808000;
  padding-left: 10px;
}

a:visited {
  color: #000080;
}

.place {
  text-align: left;
}

.detail {
  display: inline-block;
  padding-right: 15px;
}

.name {
  font-size: 18px;
  font-weight: bold;
}

@media only screen and (max-width : 768px) {
  body {
    width: 85%;
  }

  .detail {
    display: block
  }
}